@media (max-width: 1200px) {
  .about {
    margin: -10px 30px 0 30px;
  }

  .statistic {
    margin: 0 30px;
  }

  .dream-list {
    gap: 30px;
  }

  .dream-item__img {
    width: 100%;
    height: 100%;
    margin: 40px 0;
  }

  .contacts-item__title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .contacts-item__day {
    font-size: 18px;
  }

  .contacts-item__info {
    padding: 5px 0;
    font-size: 18px;
  }

  .contacts-item__info i {
    margin-right: 5px;
    font-size: 16px;
  }

  .instagram-list {
    gap: 10px;
  }

  .instagram-item {
    width: 87px;
    height: 87px;
  }
}


@media (max-width: 960px) and (min-width: 759px) {
  .header-logo {
    width: 180px;
    height: 63px;
  }

  .about {
    margin: 0 20px;
  }

  .composition-list {
    margin-top: 50px;
    gap: 20px;
  }

  .composition-item {
    gap: 40px;
  }

  .composition-item__title {
    font-size: 24px;
  }

  .composition-item__descr {
    font-size: 13px;
  }

  .statistic {
    margin: 0 20px;
    height: 80%;
  }

  .statistic-list {
    gap: 2%;
  }

  .statistic-item__img {
    width: 85px;
    height: 85px;
  }

  .statistic-item__text {
    font-size: 16px;
  }

  .statistic-item__text span {
    font-size: 45px;
  }

  .dream-list {
    gap: 20px;
  }

  .dream-item__name {
    font-size: 26px;
  }

  .dream-item__career {
    font-size: 18px;
  }

  .dream-item__descr {
    font-size: 13px;
  }

  .contacts-item__title {
    font-size: 26px;
    margin-bottom: 16px;
  }

  .contacts-item__day {
    font-size: 14px;
  }

  .contacts-item__info {
    padding: 5px 0;
    font-size: 14px;
  }

  .contacts-item__info i {
    margin-right: 5px;
    font-size: 16px;
  }

  .instagram-list {
    gap: 10px;
  }

  .instagram-item {
    width: 67px;
    height: 67px;
  }

}

@media (max-width: 760px) and (min-width: 639px) {
  .header-logo {
    width: 140px;
    height: 53px;
  }

  .nav-left,
  .nav-right {
    gap: 20px;
    font-size: 16px;
  }

  .about {
    margin: 0 10px;
    height: 350px;
  }

  .about-title {
    font-size: 42px;
    line-height: 1.5;
  }

  .about-descr {
    font-size: 26px;
    line-height: 1.2;
  }

  .composition-list {
    margin-top: 30px;
    gap: 10px;
  }

  .composition-item {
    gap: 20px;
  }

  .composition-item__title {
    font-size: 22px;
  }

  .composition-item__descr {
    font-size: 12px;
  }

  .statistic {
    margin: 0 10px;
    height: 70%;
  }

  .statistic-list {
    gap: 2%;
  }

  .statistic-item__img {
    width: 65px;
    height: 65px;
  }

  .statistic-item__text {
    font-size: 12px;
  }

  .statistic-item__text span {
    font-size: 36px;
  }

  .dream-list {
    gap: 10px;
  }

  .dream-item__name {
    font-size: 24px;
  }

  .dream-item__career {
    font-size: 16px;
  }

  .dream-item__descr {
    font-size: 12px;
  }

  .dream-item:nth-child(1)::before,
  .dream-item:nth-child(2)::before,
  .dream-item:nth-child(3)::after,
  .dream-item:nth-child(4)::after {
    width: 90%;
  }

  .contacts {
    margin-top: 40px;
    padding: 30px 0;
  }

  .contacts-item__title {
    font-size: 24px;
    margin-bottom: 14px;
  }

  .contacts-item__day {
    font-size: 12px;
  }

  .contacts-item__info {
    padding: 5px 0;
    font-size: 12px;
  }

  .contacts-item__info i {
    font-size: 14px;
  }

  .instagram-list {
    gap: 10px;
  }

  .instagram-item {
    width: 57px;
    height: 57px;
  }
}

@media (max-width: 640px) and (min-width: 509px) {

  .header-logo {
    width: 120px;
    height: 43px;
  }

  .nav-left,
  .nav-right {
    gap: 15px;
    font-size: 14px;
  }

  .about {
    margin: -10px 10px 0 10px;
    height: 300px;
  }

  .about-title {
    font-size: 32px;
  }

  .about-descr {
    font-size: 20px;
  }

  .composition-list {
    margin-top: 15px;
    gap: 10px;
  }

  .composition-item {
    gap: 15px;
  }

  .composition-item__title {
    font-size: 18px;
  }

  .composition-item__descr {
    font-size: 11px;
  }

  .statistic {
    margin: 0 10px;
    height: 60%;
  }

  .statistic-list {
    gap: 2%;
  }

  .statistic-item__img {
    width: 55px;
    height: 55px;
  }

  .statistic-item__text {
    font-size: 14px;
  }

  .statistic-item__text span {
    font-size: 32px;
  }

  .dream-title {
    font-size: 36px;
  }

  .dream-subtitle {
    font-size: 20px;
  }

  .dream-list {
    gap: 10px;
    margin-top: 30px;
  }

  .dream-item {
    flex-direction: column;
  }

  .dream-item__image {
    height: 100px;
  }

  .dream-item__img {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .dream-item__name {
    font-size: 22px;
  }

  .dream-item__career {
    font-size: 14px;
  }

  .dream-item__descr {
    font-size: 11px;
  }

  .dream-item:nth-child(1)::before,
  .dream-item:nth-child(2)::before,
  .dream-item:nth-child(3)::after,
  .dream-item:nth-child(4)::after {
    width: 100%;
    height: 75%;
    top: 25%;
    left: 0;
  }

  .contacts {
    margin-top: 30px;
    padding: 25px 0;
  }

  .contacts-item__title {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .contacts-item__day {
    font-size: 12px;
  }

  .contacts-item__info {
    padding: 5px 0;
    font-size: 12px;
  }

  .contacts-item__info i {
    font-size: 10px;
  }

  .instagram-list {
    gap: 5px;
  }

  .instagram-item {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 510px) and (min-width: 409px) {
  .header-logo {
    width: 100px;
    height: 33px;
  }

  .nav-left,
  .nav-right {
    gap: 15px;
    font-size: 14px;
  }

  .about {
    margin: -15px 5px;
    height: 250px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-descr {
    font-size: 18px;
  }

  .composition-list {
    margin-top: 10px;
    gap: 10px;
    flex-direction: column;
  }

  .composition-item {
    gap: 20px;
    flex-direction: row;
    width: 100%;
    align-items: start;
  }

  .composition-item__elem {
    max-width: 150px;
  }

  .composition-item__title {
    font-size: 16px;
  }

  .composition-item__descr {
    font-size: 10px;
  }

  .statistic {
    margin: 0 5px;
    height: 50%;
  }

  .statistic-list {
    gap: 1%;
  }

  .statistic-item__img {
    width: 45px;
    height: 45px;
  }

  .statistic-item__text {
    font-size: 12px;
  }

  .statistic-item__text span {
    font-size: 26px;
  }

  .dream-title {
    font-size: 32px;
  }

  .dream-subtitle {
    font-size: 18px;
  }

  .dream-list {
    flex-direction: column;
    margin-top: 20px;
  }

  .dream-item {
    width: 100%;
  }

  .contacts {
    margin-top: 30px;
    padding: 25px 0;
  }

  .contacts-list {
    flex-wrap: wrap;
  }

  .contacts-item {
    flex-grow: 3;
  }

  .contacts-item:last-child {
    flex-basis: 100%;
    flex-grow: 3;
    /* align-self: flex-end; */
  }

  .contacts-item__title {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .contacts-item__day {
    font-size: 12px;
  }

  .contacts-item__info {
    padding: 5px 0;
    font-size: 12px;
  }

  .contacts-item__info i {
    font-size: 10px;
  }

  .instagram-list {
    gap: 10px;
  }

  .instagram-item {
    width: 65px;
    height: 65px;
  }

  .footer {
    height: 100px;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-copiright {
    margin-bottom: 10px;
    font-size: 13px;
  }
}

@media (max-width: 410px) {
  .header-logo {
    width: 100px;
    height: 33px;
  }

  .nav-left,
  .nav-right {
    display: none;
  }

  .about {
    margin: -15px 5px;
    height: 200px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-descr {
    font-size: 14px;
  }

  .composition-list {
    margin-top: 10px;
    gap: 10px;
    flex-direction: column;
  }

  .composition-item {
    gap: 10px;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .composition-item__elem {
    max-width: 100%;
  }

  .composition-item__title {
    font-size: 14px;
  }

  .composition-item__descr {
    font-size: 10px;
  }

  .composition-item__img {
    width: 50%;
    margin-left: 25%;
  }

  .statistic {
    margin: 0 5px;
    height: 40%;
  }

  .statistic-list {
    gap: 15px;
  }

  .statistic-item__img {
    width: 35px;
    height: 45px;
  }

  .statistic-item__text {
    font-size: 12px;
  }

  .statistic-item__text span {
    font-size: 24px;
  }

  .dream-list {
    flex-direction: column;
    margin-top: 10px;
  }

  .dream-title {
    font-size: 28px;
  }

  .dream-subtitle {
    font-size: 14px;
  }

  .dream-item {
    width: 100%;
  }

  .dream-item__name {
    font-size: 20px;
  }

  .dream-item__career {
    font-size: 12px;
  }

  .dream-item__descr {
    font-size: 10px;
  }

  .contacts {
    margin-top: 30px;
    padding: 25px 0;
  }

  .contacts-list {
    flex-wrap: wrap;
  }

  .contacts-item {
    margin-bottom: 10px;
    width: 100%;
    flex-grow: 1;
  }

  .contacts-item__title {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .contacts-item__day {
    font-size: 12px;
  }

  .contacts-item__info {
    padding: 5px 0;
    font-size: 12px;
  }

  .contacts-item__info i {
    font-size: 10px;
  }

  .instagram-list {
    gap: 5px;
  }

  .instagram-item {
    width: 50px;
    height: 50px;
  }

  .footer {
    height: 70px;
  }

  .footer-content {
    flex-direction: column;
  }

  ..footer-copiright {
    font-size: 11px;
  }
}