html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Waiting for the Sunrise', cursive; */
  height: 100vh;
  min-width: 320px;
  background-color: #fff;
  color: #433840;
  font-size: 15px;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.wrapper {
  max-width: 1180px;
  min-height: 100%;
  margin: 0 auto;
  padding: 15px;
}

.header .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  width: 225px;
  height: 73px;
}

.nav-left,
.nav-right {
  display: flex;
  font-size: 18px;
  gap: 30px;
}

.nav-link.active {
  color: #FEA3AC;
}

.about {
  position: relative;
  height: 400px;
  width: auto;
  background-color: rgb(6, 181, 187);
  background-image: url('../image/about-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 50px;
}

.about-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFFFF;
}

.about-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
}

.about-descr {
  font-family: 'Waiting for the Sunrise';
  font-weight: 300;
  font-size: 30px;
  line-height: 50px;
}

.composition-list {
  display: flex;
  gap: 45px;
  margin-top: 70px;
}

.composition-item {
  width: 33%;
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.composition-item__elem {
  max-width: 335px;
}

.composition-item__title {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 400;
}

.composition-item__descr {
  font-size: 15px;
  line-height: 1.6;
  color: #9A9A9A;
}

.statistic {
  background-color: rgb(247, 123, 177);
  background-image: url('../image/statisticbg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  margin: 0 50px 100px 50px;
}

.statistic .wrapper {
  position: relative;
}

.statistic-list {
  width: calc(100% - 30px);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: space-between;
}

.statistic-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-width: 220px;
}

.statistic-item__img {
  width: 125px;
  height: 125px;
}

.statistic-item__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  color: #fff;
  text-align: center;
}

.statistic-item__text span {
  font-family: 'Waiting for the Sunrise';
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  display: block;
}